<!DOCTYPE html>
<html lang="en" >
<head>
    <title> task3</title>
    <link rel="stylesheet" href="http://localhost:81/WT-Summer24-25/Mid/Task3/CSS/Task3_Style.CSS">
    <script src="task_3_valid.js"> </script>
</head>
<body>
    <form action="summit" onsubmit="validteForm()">
        <h3> Donor Information </h3>
    <label>First Name:</label>
    <br>
    <input type="text" name="first_name" id="first_name">
    <br>
     <label>Last Name:</label>
     <br>
     <input type="text" name="last_name" id="last_name">
    <br>
     <label>Address:</label>
     <br>
     <input type="text" name="address" id="address">
    <br>
     <label>City:</label>
     <br>
      <input type="text" name="city" id="city">
    <br>

     <label>State:</label>
     <br>
      <select name="" id="">
         <option value="">Select a State</option>
        <option value="">Bangladesh </option>
         <option value="">Quater></option>
          <option value="">Denmark</option>
           <option value="">Hong Kong</option>
            <option value="">Indonesia</option>
      </select>
    <br>

    <label>Phone:</label>
    <br>
      <input type="tel" name="phone" id="phone">
    <br>
   
    <label>Email:</label>
    <br>
      <input type="text" name="email" id="email">
    <br>
    <label>Create Password:</label>
    <br>
      <input type="password" name="password" id="password">
      <br>
      <label>Confrim Password:</label>
    <br>
      <input type="password" name="confirm_password" id="confirm_password">
      <br>
<label>Donation Ammount:</label>
    <br>
      <input type="radio" name="des" id="">None
      <input type="radio" name="des" id="">500
      <input type="radio" name="des" id="">1000
      <input type="radio" name="des" id="">2000
      <input type="radio" name="des" id="">3000
      <input type="radio" name="des" id="">other
    <br>
      <label>Other Ammount:</label>
    <br>
      <input type="number" name="other_amount" min="100">
      <br>
      
       <input type="checkbox" name="" id="">I am interested in giving on a regular basis

      <h2>Additional Information</h2>
      
      <input type="checkbox" name="" id="">I would like my gift to remain anonymous.
      <br>
      <input type="checkbox" name="" id="">My employer offers a matching gift program.
        <br>   
    <input type="checkbox" name="" id="">Please don't send a thank you letter.
    <br>
      <label>Comments:</label>
    <br>
      <textarea name="comments" row="4" col="50"></textarea>
      <br>
      <br>
      <input type="reset" value="Reset">
      <button type="submit">Submit</button>


    </form>
</body>



</html>